<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Empleado</title>
    <!-- Estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Lista Empleado</h2>

    <a th:href="@{/registrar_empleado}" class="btn btn-primary">Registrar</a>
    <!-- Tabla de empleados -->
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Area</th>
            <th>Dni</th>
            <th>Fecha nacimiento</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Direccion</th>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}">
            <td th:text="${user.area.getNombreArea}"></td>
            <td th:text="${user.dniEmpleado}"></td>
            <td th:text="${user.fecNac}"></td>
            <td th:text="${user.apellidoEmpleado}"></td>
            <td th:text="${user.correo}"></td>
            <td th:text="${user.direccion}"></td>
            <td th:text="${user.nombreEmpleado}"></td>
            <td>
                <a th:href="@{/detalle_usuario/{id}(id=${user.dniEmpleado})}" class="btn btn-info">Ver</a> |
                <a th:href="@{/editar_usuario/{id}(id=${user.dniEmpleado})}" class="btn btn-warning">Editar</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
